html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    letter-spacing: 2px;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #db6;
}

div.top {
  background-color: #888;
}

div.page {
  width: 960px;
  margin: 0 auto;
}

div#header{
  height: 60px;
  width: 100%;
  color: white;
  padding: 20px 0px;
}

div#flavor {
  float: right;
  font-size: 24px;
  font-weight: 200;
  height: 100%;
  line-height: 60px;
}

/* TEXT */
h1 {
  font-weight:300; /*book*/
  color:#333333;
  font-size:72px;
}

h2 {
  font-weight:400; /*medium*/
  color:#333333;
  font-size:36px;
}

h3 {
  font-weight:300; /*book*/
  color:#333333;
  font-size:24px;
}

p {
  font-weight:300; /*book*/
  color:#333333;
  font-size:24px;
}

/* NAVIGATION */

nav {
  width: 100%;
  background-color: #333;
  display: block;
  height: 90px;
}

nav ul {
  margin: 0px auto;
  width: 960px;
  list-style-type: none;
}

nav li {
  float: left;
}

nav li#contact {
  float: right;
}
nav a {
  display:block;
  text-decoration:none;
  text-align:center;
  color:#FFFFFF;
  padding: 0px 45px;
  background-color:#333;
  line-height: 90px;
  text-align:center;
  font-size: 24px;
} /* unvisited link */

nav a:hover, nav a:active {
  background-color:#888;
}   /* mouse over link */

#minibar {
  width: 100%;
  background-color: #888;
  padding: 10px 0px;
  height: 29px;
  text-align: center;
  display: none;
}

#progress {
  border-radius: 14px;
  background-color: #333;
  padding: 4px;
  max-width: 960px;
  display: inline-block;
  display: none;
}

#progress a { 
  width: 21px;
  height: 21px;
  border-radius: 10px;
  float: left;
  background-color: white;
  display: none;
  margin-right: 90px;
}

#progress a.last {
  margin-right: 0px;
}

#bubble {
  background-color:#eee;
  margin: 0px;
  height: 300px;
  overflow: auto;
  padding:20px;
  border-radius:15px;
  box-shadow: 0px 0 3px rgba(0,0,0,0.25);
}

#bubble div {
  display: none;
}

#arrow {
  display: block;
  content: "";
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  height: 0px;
  width: 0px;
  border-width: 35px;
  margin-bottom: -25px;
  position: relative;
  left: 40px;
}
