html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
}

body {
  font-family:'Dosis', sans-serif;
}

/* TEXT */
h1 {
  font-weight:300; /*book*/
  color:#333333;
  font-size:72px;
}

h2 {
  font-weight:400; /*medium*/
  color:#333333;
  font-size:36px;
}

h3 {
  font-weight:300; /*book*/
  color:#333333;
  font-size:24px;
}

.bubbleindent {
  text-align:left;
  text-indent:90px;
}

nav h3 {
  text-align:center;
}

p {
  font-weight:300; /*book*/
  color:#333333;
  font-size:24px;
}

/* DISPLAY */


ul{
  list-style-type:none;
  margin:10;
  overflow:hidden;
  border:solid;
  border-width:thin;
}
li{
  float:left;
}

/* LINKS */

a:link, a:visited {
  display:block;
  width:140px;
  color:#333333;
  background-color:#FFFFFF;
  text-align:center;
  padding:4px;
  text-decoration:none;
} /* unvisited link */

a:hover, a:active {
  background-color:#FF7BAC;
  color:#FFFFFF; 
  text-decoration:none;
}   /* mouse over link */

a.download{

}

body {
  display: block;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 200px;
}

body ul{
  margin-left:47px;
  margin-right:291px;
}




.bubble {
  position: relative;
  background-color:#eee;
  margin: 0;
  padding:20px;
  text-align:center;
  width:800px;
  border-radius:10px;
  box-shadow: 0px 0 3px rgba(0,0,0,0.25);
}
 
.bubble:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}
